body {
  margin: 5px auto;
}

button {
  text-align: center;
  border: none;
  display: block;
  margin: 15px auto;
  border-radius: 30px;
  padding: 10px 20px;
  transition: all 300ms ease-in-out;
}
button:hover {
  cursor: pointer;
  color: #0d6efd;
}
h1 {
  font-size: 30px;
  max-width: 60%;
  background-color: white;
  margin: 0 auto;
  padding-top: 10px;
}
h2 {
  font-weight: lighter;
  font-size: 20px;
}

footer {
  font-family: monospace;
  font-size: small;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.container {
  max-width: 500px;
  font-family: "Dongle", sans-serif;
  border: 1px solid;
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.searchCity {
  width: 100%;
  margin: 0px auto;
}

.currentCityTable {
  width: 400px;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  top: 60px;
  margin-bottom: 20px;
}

.dailyForecast {
  margin-bottom: 10px;
}
.currentTemperature {
  font-size: 60px;
  display: block;
  margin: auto;
}
.celsiusUnit {
  margin: 3px;
}
.fahrenheitUnit {
  font-size: 20px;
  margin: 3px;
  position: relative;
  bottom: 25px;
  font-weight: lighter;
}

.weatherDescription:first-letter {
  text-transform: capitalize;
}

@media only screen and (max-width: 550px) {
  .container {
    max-width: 62%;
  }

  img {
    width: 70%;
  }
  .currentCityTable {
    width: 270px;
  }

  .currentTemperature{
    font-size: 40px;
    margin: auto;
  }

  .fahrenheitUnit {
  font-size: 15px;
  margin: 3px;
  bottom: 18px;
}

.weatherDescription{
  font-size: smaller;
}
.tempText{
  font-size: 12px;
}